#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "vikunja"
name = "Vikunja"
description.en = "Self-hosted To-Do list application"
description.fr = "Application de liste de tâches auto-hébergée"

version = "0.24.6~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0"
website = "https://vikunja.io/"
demo = "https://try.vikunja.io/login"
admindoc = "https://vikunja.io/docs/"
code = "https://kolaente.dev/vikunja/vikunja"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "1500M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    help.en = "If 'visitors', Vikunja will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si 'visiteurs', Vikunja sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en", "fr-FR"]
    default = "fr-FR"

[resources]

    [resources.sources]
        [resources.sources.main]
        arm64.url = "https://dl.vikunja.io/vikunja/0.24.6/vikunja-v0.24.6-linux-arm64-full.zip"
        arm64.sha256 = "0595a36e5f1da1fb9842d152e075c08b6a85fea8f958ff4a0983df7f36377ecf"
        amd64.url = "https://dl.vikunja.io/vikunja/0.24.6/vikunja-v0.24.6-linux-amd64-full.zip"
        amd64.sha256 = "0007e0fb9e88021b390d898ad88a44d8981d52fee57ec19e0586703afb28f01a"
        armhf.url = "https://dl.vikunja.io/vikunja/0.24.6/vikunja-v0.24.6-linux-arm-7-full.zip"
        armhf.sha256 = "4f5a04cc33eb05d6c68f91e5cf1c801bb1678b4688a743b41f59bc87a22b95e5"
        in_subdir = false
        format = "zip"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.show_tile = false
    api.allowed = "visitors"
    api.auth_header = false

    [resources.ports]
    
    [resources.apt]
    packages = ["postgresql", "redis-server"]

    [resources.database]
    type = "postgresql"
